@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Glass+Antiqua&family=Inter&family=Montserrat&family=Roboto+Slab:wght@500&family=Roboto:wght@100;400&display=swap');


.div-card-info-hotel{
    width: 70vw;
    padding: 30px 60px;
    box-sizing: border-box;
    margin: 10vh auto;
    border-radius: 10px;
    background-color: #D9D9D9;
    border: 1px solid #CAC4D0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto', serif;
    font-size: 24px;
    font-weight: 400;
}

.textos-card-info-hotel{
    display: flex;
    flex-flow: column;
    gap: 10px
}

.textos-card-info-hotel p{
    font-size: 20px;
}